<!DOCTYPE html>
<html>
<head>
	<% include ../../head %>
	<title>FeedMe | Dashboard</title>

	<!-- Custom CSS Stylesheet -->
	
</head>
<body>
	<% include ../partials/navbar-stu %>

	 <div id="page-wrapper">

	 	<div class="row">
		    <div class="col-lg-12">
		        <h1 class="page-header"><%= course.name %></h1>
		    </div>
		</div>


		 <div class="row" id="activites-section">
		    <div class="col-lg-8">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h3 class="panel-title pull-left">Actividades</h3>
		                <div class="clearfix"></div>
		            </div>
		            <div class="panel-body">
		            	<% if (activities.length == 0){ %>
		            		<div class="alert alert-dismissable alert-warning">
		            			No existen actividades para este curso.
		            		</div>
		            	<% } %>
		            	<% for (var i = 0; i < activities.length; i++){ %>
		                    <% var activity = activities[i]; %>
		                    <% var isAnswered = false; %>
		                    <% for (var j = 0; j < activity.studentsWhoAnswered.length; j++){ %>
		                    	<% var studentWhoAnswered = JSON.stringify(activity.studentsWhoAnswered[j]); %>
		                    	<% if (studentWhoAnswered == JSON.stringify(user._id)){ %>
		                    		<% isAnswered = true; %>
		                    		<% break; %>
		                    	<% } %>
		                    <% } %>

		                    <% if (isAnswered){ %>
		                    	<div class="alert alert-success">
		                    		<%= activity.name %>
		                    		<div class="pull-right"><i class="fa fa-check"></i></div>
		                    	</div>
		                    <% } else { %>
		                    	<div class="alert alert-danger">
		                        	<a href="<%= course._id %>/activity/<%= activity._id %>" class="alert-link pull-left"><%= activity.name %></a>
		                        		<div class="pull-right"><i class="fa fa-close"></i></div>
		                        	<div class="clearfix"></div>
		                		</div>
		                    <% } %>
		                <% } %>
		            </div>
		        </div>
		    </div>

		</div>

		
    </div>
    <% include ../../scripts %>


	
</body>
</html>