<!DOCTYPE html>
<html>
<head>
	<% include ../../head %>
	<title>FeedMe | <%= activity.name %></title>

	<!-- Custom CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/activity-tea.css">
</head>
<body>
	<% include ../partials/navbar-tea %>

	 <div id="page-wrapper">



		 <div class="row">
		    <div class="col-lg-12">
		        <h1 class="page-header"><%= course.name %></h1>
		    </div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
                        <label for="titulo">
                            <%= activity.name %> - <% if (selectedStudent){ %><%= selectedStudent.firstName %> <%= selectedStudent.lastName %><% } else { %> Informe <% } %>
                        </label>
                	</div>

                	<div class="panel-body clearfix">
	                	<div class="pull-right alumnos-informe">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>Alumnos</strong>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="/teacher/courses/<%= course._id %>/activity/<%= activity._id %>" class="list-group-item">
                                            <i class="fa fa-users fa-fw"></i>Todos
                                        </a>
                                        <% for (var i = 0; i < students.length; i++){ %>
						                    <% var student = students[i]; %>
						                    <a href="/teacher/courses/<%= course._id %>/activity/<%= activity._id %>?student=<%= student._id %>" id="student <%= i %>" class="list-group-item">
                                            	<i class="fa fa-user fa-fw"></i><%= student.firstName %> <%= student.lastName %>
                                        	</a>

						                <% } %>

                                    </div>
                                </div>
                            </div>
                    	</div>


                    	<!-- Informe General -->
                        <% if (!selectedStudent){ %>
                        	<div id="activity-summary" class="pull-left informe">
                            <% for (var i = 0; i< questions.length; i++){ %>
                                <% var question = questions[i]; %>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>Pregunta <%= i+1 %>: <%= question.questionName %></strong>
                                        <div class="btn btn-default pull-right" id="show-report-<%= question._id %>">
                                            <i class="fa fa-plus" id="icon-<%= question._id %>"></i>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body hide" id="question-summary-<%= question._id %>">
                                        <% if (question.type == "multipleChoice" || question.type == "yesNo"){ %>
                                            <div class="flot-chart">
                                                <div class="flot-chart-content" id="flot-pie-chart-<%= question._id %>">
                                                </div>
                                            </div>
                                        <% } else if (question.type == "shortAnswer"){ %>
                                            <div class="form-group">
                                                <% for (var j = 0; j< answers.length; j++){ %>
                                                    <% var answer = answers[j]; %>
                                                    <% if (answer.question.equals(question._id)) { %> 
                                                        <p class="form-control-static"><%= answer.answer %></p>
                                                    <% } %>
                                                <% } %>
                                            </div>
                                        <% } else if (question.type == "longAnswer"){ %>
                                            <ul class="timeline">
                                            <% var cont = 0 %>
                                                <% for (var j = 0; j< answers.length; j++){ %>
                                                    <% var answer = answers[j]; %>
                                                    <% if (answer.question.equals(question._id)) { %> 
                                                        
                                                        <% if (cont%2== 0 ) { %>
                                                            <li>
                                                        <% } else {%>
                                                            <li class="timeline-inverted">
                                                        <% } %>
                                                                <div class="timeline-badge success"><i class="fa fa-check"></i>
                                                                </div>
                                                                <div class="timeline-panel">
                                                                    <div class="timeline-body"><%= answer.answer %></p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        <% cont++ %>
                                                    <% } %>
                                                <% } %>
                                                
                                            </ul>


                                        <% } else if (question.type == "numeric"){ %>
                                            <div class="flot-chart">
                                                <div class="flot-chart-content" id="flot-bar-chart-<%= question._id %>">
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                            <% } %>

                        	</div>

                    	<% } else { %>
                            <% if (selectedStudentAnswers){ %>
                                <% for (var i=0; i< selectedStudentAnswers.length; i++){ %>
                                    <% var question = questions[i]; %>
                                    <% var answer = selectedStudentAnswers[i]; %>
                                    <label>Pregunta <%= i+1 %>: </label>
                                    <label><%= question.questionName %></label>

                                    <!-- multiple choice -->
                                    <% if (question.type == "multipleChoice" || question.type == "yesNo"){ %>
                                        <% for (var j = 0 ; j < question.choices.length; j++){ %>
                                            <% var choice = question.choices[j]; %>
                                            <div class="radio">
                                                <label>
                                                    <% if (answer.answer == choice.value){ %>
                                                        <input type="radio" checked="checked" disabled><%= choice.value %>
                                                    <% } else { %>
                                                        <input type="radio" disabled><%= choice.value %>
                                                    <% } %>
                                                </label>
                                            </div>
                                        <% } %>
                                    <% } %>

                                    <% if (question.type == "shortAnswer" || question.type == "longAnswer" || question.type == "numeric"){ %>
                                        <div class="text-answer">
                                            <%= answer.answer %>
                                        </div>
                                    <% } %>




                                <% } %>
                            <% } else { %>
                                <div class="alert alert-warning alert-dismissable informe">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    Este alumno a&uacute;n no ha respondido.
                                </div>
                            <% } %>
                        <% } %>

                	</div>
				</div>

			</div>
		</div>

    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            var answers = <%- JSON.stringify(answers) %>
            var questions = <%- JSON.stringify(questions) %>
            var questionData = [];
            var questionSteps = [];

            var plotPieGraph = function(questionID, cont){
                $.plot($('#flot-pie-chart-'+questionID), questionData[cont],{
                    series: {
                        pie: {
                            show: true
                        }
                    },
                    grid: {
                        hoverable: true
                    },
                    tooltip: true,
                    tooltipOpts: {
                        content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                        shifts: {
                            x: 20,
                            y: 0
                        },
                        defaultTheme: true
                    }
                });
            }

            var plotBarGraph = function(questionID, cont){
                var step = questionSteps[cont];
                var barOptions = {
                        series: {
                            bars: {
                                show: true,
                                barWidth: step
                            }
                        },
                        grid: {
                            hoverable: true
                        },
                        legend: {
                            show: false
                        },
                        tooltip: true,
                        tooltipOpts: {
                            content: 
                                function(label, xval, yval, flotItem){
                                    if (step == 1) return "x: "+(xval + step/2) +", y: "+yval;
                                    return "x: "+xval +" - " + (xval + step) +", y: "+yval;
                               }
                        }
                    };
                    var barData = {
                        label: "bar",
                        data: questionData[cont]
                    };
                    $.plot($("#flot-bar-chart-"+questionID), [barData], barOptions);
            }


            for (var i = 0; i < questions.length; i++){
                var question = questions[i];
                if (question.type == "multipleChoice" || question.type == "yesNo"){
                    var numAnswersPerChoice = [];
                    for (var j = 0; j < question.choices.length; j++){
                        numAnswersPerChoice[j] = 0;
                        var choice = question.choices[j];
                        //console.log(choice.value);
                        var numAnswers = 0;
                        for (var k = 0; k < answers.length; k++){
                            var answer = answers[k];
                            if (answer.question == question._id && answer.answer == choice.value){
                               numAnswersPerChoice[j]++;
                            }
                        }
                    }
                    var data = [];
                    for (var j = 0; j < question.choices.length; j++){
                        var choice = question.choices[j];
                        data[j] = {
                            label: choice.value,
                            data: numAnswersPerChoice[j]
                        };
                    }
                    questionData[i] = data;

                } else if (question.type == "numeric"){
                    var numericAnswers = [];
                    var cont = 0;
                    var maxNumberOfLines = 8;
                    // add answers to numeric answers array
                    for (var j=0; j < answers.length; j++){
                        var answer = answers[j];
                        if (answer.question == question._id){
                            numericAnswers[cont] = answer.answer;
                            cont++;
                        }
                    }
                    //calculate the min, max, number of lines, and step
                    var min = Math.min.apply(Math, numericAnswers);
                    var max = Math.max.apply(Math, numericAnswers);
                    var numberOfLines = max - min + 1;
                    var step = 1;
                    if (numberOfLines > maxNumberOfLines){
                        numberOfLines = maxNumberOfLines;
                        step = Math.ceil((max-min + 1)/maxNumberOfLines);
                    }


                    var data = [numberOfLines];
                    if (step == 1){
                        for (var k = 0; k<numberOfLines ; k++){
                            data[k] = [min+k*step - step/2,0];
                        }
                        for (var k=0; k< numericAnswers.length; k++){
                            for (var l =1; l <= numberOfLines ; l++){
                                if (numericAnswers[k] < min + l*step - step/2){
                                    data[l-1][1]++;
                                    break;
                                }
                            }

                        }
                    } else{
                        for (var k = 0; k<numberOfLines ; k++){
                            data[k] = [min+k*step,0];
                        }
                        for (var k=0; k< numericAnswers.length; k++){
                            for (var l =1; l <= numberOfLines ; l++){
                                if (numericAnswers[k] < min + l*step){
                                    data[l-1][1]++;
                                    break;
                                }
                            }

                        }
                    }
                    
                    questionData[i] = data;
                    questionSteps[i] = step;


                }
            }

            

            for (var i=0; i<questions.length ; i++){
                var question = questions[i];
                
                $('#show-report-'+question._id).on('click',{id: question._id} , function (event){
                    var data = event.data;
                    var body = $('#question-summary-'+data.id);
                    if (body.hasClass('hide')){
                        $('#icon-'+data.id).attr('class', 'fa fa-minus');
                        body.removeClass('hide');
                    } else {
                        $('#icon-'+data.id).attr('class', 'fa fa-plus');
                        body.addClass('hide');
                    }
                    
                });
                if (question.type == "multipleChoice" || question.type == "yesNo"){
                    $('#show-report-'+question._id).on('click',{id: question._id, cont: i} , function (event){
                        var data = event.data;
                        
                        plotPieGraph(data.id, data.cont);
                        
                    });
                }
                if (question.type == "numeric"){
                    $('#show-report-'+question._id).on('click',{id: question._id, cont: i} , function (event){
                        var data = event.data;
                        
                        plotBarGraph(data.id, data.cont);
                        
                    });
                }

            }



        });
    </script>
	<% include ../../scripts %>


</body>
</html>
