<!DOCTYPE html>
<html>
<head>
	<% include ../../head %>
	<title>FeedMe | <%= activity.name %></title>

	<!-- Custom CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/activity-tea.css">
</head>
<body>
	<% include ../partials/navbar-tea %>

	 <div id="page-wrapper">


	 
		 <div class="row">
		    <div class="col-lg-12">
		        <h1 class="page-header"><%= course.name %></h1>
		    </div>  
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
                        <label for="titulo">
                            <%= activity.name %><% if (selectedStudent){ %> - <%= selectedStudent.firstName %> <%= selectedStudent.lastName %><% } %>
                        </label>
                	</div>

                	<div class="panel-body clearfix">
	                	<div class="pull-right alumnos-informe">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>Alumnos</strong>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-users fa-fw"></i>Todos
                                        </a>
                                        <% for (var i = 0; i < students.length; i++){ %>
						                    <% var student = students[i]; %>
						                    <a href="/teacher/courses/<%= course._id %>/activity/<%= activity._id %>?student=<%= student._id %>" id="student <%= i %>" class="list-group-item">
                                            	<i class="fa fa-user fa-fw"></i><%= student.firstName %> <%= student.lastName %>
                                        	</a>
						                    
						                <% } %>
                                        
                                    </div>
                                </div>
                            </div>
                    	</div>


                    	<!-- Informe General -->
                        <% if (!selectedStudent){ %>
                        	<div id="activity-summary" class="pull-left informe">
                            <% for (var i = 0; i< questions.length; i++){ %>
                                <% var question = questions[i]; %>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>Pregunta <%= i+1 %>: <%= question.name %></strong>
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        
                                        Resumen pregunta <%= i+1 %>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                            <% } %>
                             
                        	</div>

                    	<% } else { %>
                            <% if (selectedStudentAnswers){ %>
                                <% for (var i=0; i< selectedStudentAnswers.length; i++){ %>
                                    <% var question = questions[i]; %>
                                    <% var answer = selectedStudentAnswers[i]; %>
                                    <label>Pregunta <%= i+1 %>: </label>
                                    <label><%= question.questionName %></label>

                                    <!-- multiple choice -->
                                    <% if (question.type == "multipleChoice" || question.type == "yesNo"){ %>
                                        <% for (var j = 0 ; j < question.choices.length; j++){ %>
                                            <% var choice = question.choices[j]; %>
                                            <div class="radio">
                                                <label>
                                                    <% if (answer.answer == choice.value){ %>
                                                        <input type="radio" checked="checked" disabled><%= choice.value %>
                                                    <% } else { %>
                                                        <input type="radio" disabled><%= choice.value %>
                                                    <% } %>
                                                </label>
                                            </div>
                                        <% } %>
                                    <% } %>

                                    <% if (question.type == "shortAnswer" || question.type == "longAnswer" || question.type == "numeric"){ %>
                                        <div class="text-answer">
                                            <%= answer.answer %>
                                        </div>
                                    <% } %>




                                <% } %>
                            <% } else { %>
                                <div class="alert alert-warning alert-dismissable informe">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    Este alumno a&uacute;n no ha respondido.
                                </div>
                            <% } %>
                        <% } %>
                    	
                	</div> 
				</div>
				
			</div>
		</div>

    </div>

	<% include ../../scripts %>



</body>
</html>
